In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.loc[df['Sex']=='female', 'Gender'] = 1
df.loc[df['Sex']!='female', 'Gender'] = 0

In [5]:
X = df[['Age', 'Gender', 'Fare']]
y = df.Survived

In [6]:
X.head()

    Age  Gender     Fare
0  22.0     0.0   7.2500
1  38.0     1.0  71.2833
2  26.0     1.0   7.9250
3  35.0     1.0  53.1000
4  35.0     0.0   8.0500

In [7]:
from sklearn.model_selection import train_test_split
Xtreino, Xval, ytreino, yval = train_test_split(X, y, test_size=0.3, random_state=42)

In [8]:
import xgboost as xgb

In [9]:
xg = xgb.XGBClassifier()

In [10]:
clf = xg.fit(Xtreino, ytreino)

In [11]:
p = clf.predict(Xval)

In [12]:
from sklearn.metrics import classification_report

In [13]:
print(classification_report(yval, p))

              precision    recall  f1-score   support

           0       0.79      0.89      0.84       157
           1       0.81      0.68      0.74       111

    accuracy                           0.80       268
   macro avg       0.80      0.78      0.79       268
weighted avg       0.80      0.80      0.80       268

In [14]:
teste = pd.read_csv('test.csv')
teste.loc[teste['Sex']=='female', 'Gender'] = 1
teste.loc[teste['Sex']!='female', 'Gender'] = 0
Xteste = teste[['Age', 'Gender', 'Fare']]

In [15]:
Xteste.columns = xg.get_booster().feature_names

In [16]:
y_pred_teste_original = clf.predict(Xteste)
# [:,1]

In [20]:
sub = pd.DataFrame({'PassengerId': teste["PassengerId"], 'Survived': y_pred_teste_original.reshape((y_pred_teste_original.shape[0]))})
print(sub.head(10))

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1
5          897         0
6          898         1
7          899         0
8          900         1
9          901         0

In [21]:
sub.to_csv('submission1.csv', index=False)